@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 59.15% 2.88%;
    --foreground: 204 9.1% 96.8%;

    --muted: 204 45.5% 10.799999999999999%;
    --muted-foreground: 204 9.1% 53.6%;

    --popover: 204 46.8% 4.68%;
    --popover-foreground: 204 9.1% 96.8%;

    --card: 204 46.8% 4.68%;
    --card-foreground: 204 9.1% 96.8%;

    --border: 204 45.5% 10.799999999999999%;
    --input: 204 45.5% 10.799999999999999%;

    --primary: 204 91% 36%;
    --primary-foreground: 204 9.1% 96.8%;

    --secondary: 204 45.5% 10.799999999999999%;
    --secondary-foreground: 204 9.1% 96.8%;

    --accent: 204 45.5% 10.799999999999999%;
    --accent-foreground: 204 9.1% 96.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 204 9.1% 96.8%;

    --ring: 204 91% 36%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
